:root {
    --dial-height: 90%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
}

.container {
    height: 100%;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    display: inline;
    background-color: #f0f0f0;
    box-sizing: border-box;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
    position: relative;
    font-size: 16px;
    text-align: center;
}

.outer {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 0.25em solid grey;
    border-radius: 100%;
    position: absolute;
}

.inner {
    height: var(--dial-height);
    width: var(--dial-height);
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    position: absolute;
    background-color: transparent;
    top: 5%;
    left: 5%;
}

.mark {
    height: 50%;
    width: min-content;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform-origin: 50% 100%;
    translate: -50% 0%;
}

.twelve,
.six,
.nine,
.three {
    color: #555
}

.twelve {
    transform: rotate(0deg);
}

.eleven {
    transform: rotate(330deg);
}

.ten {
    transform: rotate(300deg);
}

.nine {
    transform: rotate(270deg);
}

.eight {
    transform: rotate(240deg);
}

.seven {
    transform: rotate(210deg);
}

.six {
    transform: rotate(180deg);
}

.five {
    transform: rotate(150deg);
}

.four {
    transform: rotate(120deg);
}

.three {
    transform: rotate(90deg);
}

.two {
    transform: rotate(60deg);
}

.one {
    transform: rotate(30deg);
}

/* .center_dot{
    position: absolut;
    height: 15px;
    width: 15px;
    left:50%;
    top:50%;
    z-index: 30;
    translate:-50% -50%;
    background-color: #555;
    border-radius: 100%;
} */

.second_hand,
.minute_hand,
.hour_hand {
    width: 4px;
    position: absolute;
    z-index: 10;
    left: 50%;
    translate: -50% 0px;
    transform-origin: 50% 90%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.second_hand {
    --height: 35.7%;
    height: var(--height);
    top: calc(50% - var(--height) * 0.9);
    transform: rotate(10deg);
    background-color: maroon;
    z-index: 20;
}

.minute_hand {
    --height: 35%;
    height: var(--height);
    top: calc(50% - var(--height) * 0.9);
    background-color: black;
    transform: rotate(20deg);
    z-index: 15;
}

.hour_hand {
    --height: 27%;
    height: var(--height);
    top: calc(50% - var(--height) * 0.9);
    background-color: #777;
}

.font {
    font-weight: 800;
    font-size: 2em;
    color: #999;
    font-family: "Courier New", Courier, monospace;
}

.logo {
    color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 11px;
    top: 15%;
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

.digital {
    font-size: 24px;
    font-weight: bold;
}

.salah {
    display: grid;
    width: 100%;
    height: auto;
    /* grid-template-columns: minmax(20vw, 20vw);
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 30vh 5vh;
    row-gap: 15px;
    width: 100vw;
    box-sizing: border-box;
}
.salah-name{
    font-size:2rem;
    justify-self: center;
    align-self: center;
}
